/* OTP SIDE */
.form-inp input {
  width: 50px;
  height: 50px;
  text-align: center;
}

.services {
  cursor: pointer;
}

#nameorg::-webkit-input-placeholder {
  font-size: 12px;
  color: grey;
}

.toe::-webkit-input-placeholder {
  font-size: 12px;
  color: grey;
}
#otherReq::-webkit-input-placeholder {
  font-size: 12px;
  color: grey;
}

.bellno {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}
/* OTP SIDE */
@media only screen and (max-width: 600px) {
  .modal {
    z-index: 99999999;
    top: 3%;
  }
  #modal1{
    top: 15%;
  }
}
